@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7lbof');
  src:  url('fonts/icomoon.eot?7lbof#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7lbof') format('truetype'),
    url('fonts/icomoon.woff?7lbof') format('woff'),
    url('fonts/icomoon.svg?7lbof#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-newspaper:before {
  content: "\e904";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-grin:before {
  content: "\e9e9";
}
